body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.about-container {
    /*background: rgb(214, 218, 218); */
    background: #e9ecef;
    margin-top: 20px;
    border-radius: 15px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.time-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #e9ecef;
    align-self: flex-start;
    padding: 5px 0 5px 0;
}

.sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

.timer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.time-buttons {
    display: flex;
    justify-content: center;
}